:root{
    --purple: rgb(208, 114, 237);
    --ligthPurple: rgb(224, 190, 235);
    --hoverPurple: rgba(208, 114, 237, 0.512);
}


@font-face {
    font-family: queshaFont;
    src: url(Quesha.ttf);
}

/* body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */



*{
    font-family: queshaFont;
    /* font-size: 40pt; */
    background-color: var(--ligthPurple);
    
}

#timeLeft{
    color: white;
    /* font-size: 200pt; */
}


button{
    border-radius: 8px;
    background-color: var(--purple);
    border-style: none;
    color: white;

}

/* p{
    margin: 0;
    padding: 0;
} */

/* .btnContainer{

    min-width:fit-content;
    margin: 0;
    display:flex;
    justify-content: center;
    gap: 6pt;

    
} */

button {
    transition-duration: 0.4s;
}
  
button:hover {
    background-color: var(--hoverPurple);

}